<header class="flex py-4 px-4 sm:px-10 font-[sans-serif] min-h-[70px] tracking-wide relative z-50">
  <div class="flex flex-wrap items-center justify-between gap-4 w-full">
    <div class="lg:absolute max-lg:left-10 lg:top-2/4 lg:left-2/4 lg:-translate-x-1/2 lg:-translate-y-1/2 max-sm:hidden">
      <div class="flex items-center cursor-pointer">
        <mat-icon class="mr-2">auto_stories</mat-icon>
        <span [routerLink]="['/home']" class="text:lg font-[Cormorant]">BookConnect</span>
      </div>

    </div>
    <div class="hidden max-sm:block">
      <mat-icon [routerLink]="['/home']" class="cursor-pointer">auto_stories</mat-icon>
    </div>
    <div id="collapseMenu" class="max-lg:hidden lg:!block max-lg:w-full max-lg:fixed max-lg:before:fixed max-lg:before:bg-black max-lg:before:opacity-50 max-lg:before:inset-0 max-lg:before:z-50 " [ngClass]="{'block': isMenuOpen, 'hidden': !isMenuOpen}">
      <ul class="lg:flex lg:gap-x-5 max-lg:space-y-3 max-lg:fixed max-lg:bg-white max-lg:w-1/2 max-lg:min-w-[300px] max-lg:top-0 max-lg:left-0 max-lg:p-6 max-lg:h-full max-lg:shadow-md max-lg:overflow-auto z-50">
        <li class="mb-6 hidden max-lg:block">
          <div [routerLink]="['/home']" class="flex items-center cursor-pointer">
            <mat-icon class="mr-2">auto_stories</mat-icon>
            <span class="text-lg font-[Cormorant]">BookConnect</span>
          </div>
          <button
            id="toggleClose"
            class="lg:hidden absolute top-4 right-4 z-50 w-9 h-9 flex items-center justify-center rounded-full"
            (click)="toggleMenu()"
          >
            <mat-icon class="text-black">close</mat-icon>
          </button>
        </li>
        <li [routerLink]="['/home']" class="max-lg:border-b max-lg:py-3 px-3 cursor-pointer">
          <span class="hover:text-[#007bff] block text-sm">HOME</span>
        </li>
        <li [routerLink]="['/library']" class="max-lg:border-b max-lg:py-3 px-3 cursor-pointer">
          <span class="hover:text-[#007bff]  block text-sm">LIBRARY</span>
        </li>
        <li [routerLink]="['/shelf']" class="max-lg:border-b max-lg:py-3 px-3 cursor-pointer">
          <span class="hover:text-[#007bff] block text-sm cursor-pointer">BOOKSHELF</span>
        </li>
        <li [routerLink]="['/request-book']" class="max-lg:border-b max-lg:py-3 px-3 cursor-pointer">
          <span class="hover:text-[#007bff] block text-sm cursor-pointer">REQUEST A BOOK</span>
        </li>
      </ul>
    </div>

    <div class="flex items-center ml-auto space-x-6">
      <button class="px-4 py-2 text-sm rounded-lg  text-white bg-[#007bff] transition-all ease-in-out duration-300 hover:bg-blue-500" (click)="getStarted()">
        Get Started
      </button>

      <button id="toggleOpen" class="lg:hidden" (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </div>
</header>
