<div class="p-4">
  <div class="lg:max-w-4xl max-w-xl mx-auto">
    <div class="grid items-start grid-cols-1 lg:grid-cols-2 gap-8 max-lg:gap-12 max-sm:gap-8">
      <div class="lg:py-8">
        <div class="justify-center">
          <img [src]="book().bookCover" class=" aspect-[2.8/4] object-cover rounded-lg"/>
        </div>
      </div>
      <div class="w-full lg:py-8">
        <div>
          <h3 class="font-[Cormorant] lg:text-5xl text-3xl font-bold text-gray-800">{{ book().id }}</h3>
          <span class="font-[Cormorant] text-gray-500 mt-1 text-xl italic">{{ book().authorName }}</span>

          <div class="flex items-center gap-4 mt-2">
            <div class="flex items-center gap-1 text-lg px-2.5 bg-green-600 text-white rounded-full">
              <p>{{ book().rate }}</p>
              <svg class="w-[13px] h-[13px] fill-white" viewBox="0 0 14 13" fill="none"
                   xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" />
              </svg>
            </div>
              <!-- TODO: -->
              <!-- <p class="text-gray-500 text-sm">253 ratings and 27 reviews</p>-->
          </div>
        </div>

        <hr class="my-6 border-gray-300" />
        <div>
          <div class="mt-6 flex flex-wrap gap-4">
            <button type="button"
                    class="px-4 py-3 w-[45%] border border-gray-300 bg-gray-100 hover:bg-gray-200 text-gray-800 text-sm">Add to shelf</button>
            <button type="button"
                    class="px-4 py-3 w-[45%] border border-blue-600 bg-blue-600 hover:bg-blue-700 text-white text-sm">Read now</button>
          </div>
        </div>

        <hr class="my-6 border-gray-300" />

        <div>
          <h3 class="text-2xl font-bold text-gray-800">BOOK DETAILS</h3>
          <div class="pl-2 mt-2">
            <p class="mt-1"><span class="font-semibold text-lg">ISBN: </span>{{ book().isbn }}</p>
            <p class="mt-1"><span class="font-semibold text-lg">Genre: </span>{{ book().genre }}</p>
            <p class="mt-1"><span class="font-semibold text-lg">Synopsis: </span>{{ book().synopsis }}</p>
          </div>
        </div>
    </div>
    </div>
    <hr class="my-6 border-gray-300" />
    <div>
      <div>
        <h3 class="text-2xl font-bold text-gray-800">READER REVIEWS</h3>
        <div class="flex items-center gap-1.5 mt-4">
          <svg class="w-5 h-5 fill-blue-600" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" />
          </svg>
          <svg class="w-5 h-5 fill-blue-600" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" />
          </svg>
          <svg class="w-5 h-5 fill-blue-600" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" />
          </svg>
          <svg class="w-5 h-5 fill-blue-600" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" />
          </svg>
          <svg class="w-5 h-5 fill-[#CED5D8]" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" />
          </svg>
          <span class="text-sm text-gray-500 px-2">(4.0 / 5)</span>
        </div>

        <div class="flex items-center flex-wrap gap-4 mt-4">

        </div>
      </div>

      <div class="mt-6">
        <div class="flex items-start">
          <div class="ml-1">
            <div class="flex items-center">
              <h4 class="text-sm font-bold mr-2">John Doe</h4>
              <div class="flex items-center">
                <svg class="w-[14px] h-[14px] fill-blue-600" viewBox="0 0 14 13" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" />
                </svg>
                <svg class="w-[14px] h-[14px] fill-blue-600" viewBox="0 0 14 13" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" />
                </svg>
                <svg class="w-[14px] h-[14px] fill-blue-600" viewBox="0 0 14 13" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" />
                </svg>
                <svg class="w-[14px] h-[14px] fill-blue-600" viewBox="0 0 14 13" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" />
                </svg>
                <svg class="w-[14px] h-[14px] fill-[#CED5D8]" viewBox="0 0 14 13" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" />
                </svg>
                <p class="text-xs text-gray-500 !ml-2">2 months ago</p>
              </div>
            </div>
            <p class="text-sm text-gray-500 mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
        <span class="block text-blue-600 hover:underline text-sm mt-6 font-semibold">Read all reviews</span>
      </div>
    </div>
  </div>
</div>
