<div class="book-card-container">
  <mat-card class="book-card" appearance="outlined">
    <img mat-card-image src="https://img.freepik.com/free-psd/world-forest-day-poster-template_23-2148899237.jpg?t=st=1736766867~exp=1736770467~hmac=d7e3bf96d83b1079ca23f501d1725a0dbcd27a9a928ee1ddd56b2bb56c512362&w=1380" alt="Book Cover">
    <mat-card-title>God of War</mat-card-title>
    <span class="book-genre">[Fantasy, Adventure, Adventure, ...]</span>
    <mat-card-content>
      <p><span class="book-details">Author: </span>Sumit Kumar</p>
    </mat-card-content>
  </mat-card>
</div>
