<div class="font-sans p-4 mx-auto lg:max-w-6xl md:max-w-4xl">
  <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-4 sm:gap-6 rounded-lg">
    <div class="bg-white flex flex-col rounded overflow-hidden shadow-md cursor-pointer hover:scale-[1.01] transition-all">
      <div class="w-full">
        <img src="https://readymadeui.com/images/product1.webp" alt="Product 1"
             class="w-full object-fit object-top aspect-[2.8/4] rounded-lg" />
      </div>

      <div class="p-4 flex-1 flex flex-col">
        <div class="flex-1 text-center">
          <h5 class="font-[Cormorant] lg:text-xl sm:text-base md:text-lg font-bold text-gray-800 line-clamp-2">To Kill A Mockingbird</h5>
          <h6 class="font-[Cormorant] lg:text-lg sm:text-sm  md:text-base italic font-bold text-gray-800">Harper Lee</h6>
        </div>
      </div>
    </div>
  </div>
</div>
