<div class="font-[sans-serif] bg-white p-4 mx-auto max-w-[1400px]">
  <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-5 gap-4 sm:gap-6">
      @for(item of items; track item) {
        <div class="group overflow-hidden cursor-pointer relative">
          <div class="bg-gray-100 w-full overflow-hidden">
            <img
              src="https://i.ibb.co/cNzgs8C/Elegant-Dark-Woods-Fantasy-Photo-Book-Cover.jpg"
              alt="Book"
              class="aspect-[2.5/4] rounded-md w-full object-cover object-top hover:scale-110 transition-all duration-700"
            />
          </div>

          <div class="py-1 px-1 relative">
            <div class="z-20 bg-white">
              <p class="text-base md:text-lg lg:text-xl font-semibold text-gray-800 truncate">Walk into the shadow</p>
              <p class="text-base text-gray-600 italic"> Sumit Kumar</p>
            </div>
          </div>
        </div>
      }
  </div>
</div>
