<mat-toolbar color="primary" >
  <div class="spacer">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div class="spacer">
    <mat-icon>auto_stories</mat-icon>
    <span style="margin-left: 10px">BookConnect</span>
  </div>
  <div class="button-container">
    <button mat-flat-button class="button-radius">Login</button>
  </div>
</mat-toolbar>


<mat-sidenav-container>
  <mat-sidenav #drawer mode="over">
    <mat-nav-list>
      <span class="text-button">Library</span>
      <span class="text-button">BookShelf</span>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-book-card></app-book-card>
  </mat-sidenav-content>
</mat-sidenav-container>
